[Desktop Entry]
Categories=System;Update;Upgrade;Setup
Encoding=UTF-8
Name=Tumbleweed Noob Tool
GenericName=Tumbleweed Noob Tool
Comment=Tumbleweed Noob Tool
Exec=/bin/bash /usr/bin/tumbleweednoobtool.sh
Icon=/usr/share/icons/tumbleweednoobtool
Terminal=false
StartupNotify=true
Type=Application
